// Theme overrides

::selection, ::-moz-selection {
  background-color: $color-primary;
  color: $color-white;
}

.login-wrapper {
  height: 100%;
  background-color: $color-primary;
  & > * {
    height: 100%;
  }
  .bg-pic {
    position: absolute;
    width: 100%;
    overflow: hidden;
    & > img {
      height: 100%;
      opacity: 1.0;
    }
  }
}


/**
*Please remove below lines if you don't want material design
*/
.panel {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
}

.ar-1-1,
.ar-2-1,
.ar-1-2,
.ar-3-2,
.ar-2-3{

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);;
  .panel {
    box-shadow: none;
  }
}


.header {
  box-shadow: 0 2px 5px 0 rgba(100, 100, 1, 0.26);
}

.page-sidebar {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
}

.page-container {
  .page-content-wrapper{
    .content {
      &:only-child{
        padding-bottom:72px;
      }
    }
  }
}

.page-container .page-content-wrapper .content.form-example-content {
  padding-top: 83px;
}

.dataTables_wrapper {
  overflow: hidden;
}