// Theme overrides

::selection, ::-moz-selection {
  background-color: $color-primary;
  color: $color-white;
}



.login-wrapper {
  height: 100%;
  background-color: $color-primary;
  & > * {
    height: 100%;
  }
  .bg-pic {
    position: absolute;
    width: 100%;
    overflow: hidden;
    & > img {
      height: 100%;
      opacity: 1.0;
    }
  }
}

/**
*Please remove below lines if you don't want material design
*/
.panel {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}

.panel-group .panel{
  border-radius: 0px;
}

.panel.panel-default {
  border: 1px solid rgba(0, 0, 0, 0.08); }

.ar-1-1,
.ar-2-1,
.ar-1-2,
.ar-3-2,
.ar-2-3 {

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  .panel {
    box-shadow: none;
  }
}

.header {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}

.page-sidebar {
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
}

.page-container {
  .page-content-wrapper {
    .content {
      &:only-child {
        padding-bottom: 72px;
      }
    }
  }
}

.page-container .page-content-wrapper .content.form-example-content {
  padding-top: 83px;
}

.dataTables_wrapper {
  overflow: hidden;
}

.btn {
  will-change: transform, background-color, border;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1) !important;
}

.btn-default:hover, .dropdown-default:hover  {
  border-color:fade(mix($color-master, #fff, 7%), 7%);
}

.card-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}