<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-10"><img src="{{utility.ASSET_FOLDER}}/img/demo/add_more.svg" alt="socail">
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <white-logo></white-logo>
        <div class="sidebar-header-controls">
            <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
            </button>
            <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a [routerLink]="['Home', 'Dashboard']" class="detailed">
                    <span class="title">Dashboard</span>
                    <span class="details">12 New Updates</span>
                </a>
                <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
            </li>
            <li>
                <a href="javascript:;">
                    <span class="title">Users</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail">U</span>
                <ul class="sub-menu">
                    <li class="">
                        <a [routerLink]="['Home', 'Users']">User list</a>
                        <span class="icon-thumbnail">ul</span>
                    </li>
                    <li class="">
                        <a [routerLink]="['Home', 'User', {id: 0}]">Create user</a>
                        <span class="icon-thumbnail">cu</span>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;"><span class="title">UI Elements</span>
                    <span class=" arrow"></span></a>
                <span class="icon-thumbnail">Ui</span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="color.html">Color</a>
                        <span class="icon-thumbnail">c</span>
                    </li>
                    <li class="">
                        <a href="typography.html">Typography</a>
                        <span class="icon-thumbnail">t</span>
                    </li>
                    <li class="">
                        <a href="icons.html">Icons</a>
                        <span class="icon-thumbnail">i</span>
                    </li>
                    <li class="">
                        <a href="buttons.html">Buttons</a>
                        <span class="icon-thumbnail">b</span>
                    </li>
                    <li class="">
                        <a href="notifications.html">Notifications</a>
                        <span class="icon-thumbnail">n</span>
                    </li>
                    <li class="">
                        <a href="modals.html">Modals</a>
                        <span class="icon-thumbnail">m</span>
                    </li>
                    <li class="">
                        <a href="progress.html">Progress &amp; Activity</a>
                        <span class="icon-thumbnail">pa</span>
                    </li>
                    <li class="">
                        <a href="tabs_accordian.html">Tabs &amp; Accordions</a>
                        <span class="icon-thumbnail">ta</span>
                    </li>
                    <li class="">
                        <a href="sliders.html">Sliders</a>
                        <span class="icon-thumbnail">s</span>
                    </li>
                    <li class="">
                        <a href="tree_view.html">Tree View</a>
                        <span class="icon-thumbnail">tv</span>
                    </li>
                    <li class="">
                        <a href="nestables.html">Nestable</a>
                        <span class="icon-thumbnail">ns</span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <span class="title">Forms</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="pg-form"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a [routerLink]="['./FormExample']">Form Elements</a>
                        <span class="icon-thumbnail">fe</span>
                    </li>
                </ul>
            </li>
            <li class="">
                <a [routerLink]="['./Wizard']"><span class="title">Wizard</span></a>
                <span class="icon-thumbnail">W</span>
            </li>
            <li class="">
                <a href="portlets.html">
                    <span class="title">Portlets</span>
                </a>
                <span class="icon-thumbnail"><i class="pg-grid"></i></span>
            </li>
            <li>
                <a [routerLink]="['./Table']">
                    <span class="title">Tables</span>
                </a>
                <span class="icon-thumbnail"><i class="pg-tables"></i></span>
            </li>
            <li class="">
                <a [routerLink]="['./Chart']"><span class="title">Charts</span></a>
                <span class="icon-thumbnail"><i class="pg-charts"></i></span>
            </li>
            <li>
                <a href="javascript:;"><span class="title">Maps</span>
                    <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i class="pg-map"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="google_map.html">Google Maps</a>
                        <span class="icon-thumbnail">gm</span>
                    </li>
                    <li class="">
                        <a href="vector_map.html">Vector Maps</a>
                        <span class="icon-thumbnail">vm</span>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="charts.html"><span class="title">Charts</span></a>
                <span class="icon-thumbnail"><i class="pg-charts"></i></span>
            </li>
            <li>
                <a href="javascript:;"><span class="title">Extra</span>
                    <span class=" arrow"></span></a>
                <span class="icon-thumbnail"><i class="pg-bag"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="404.html">404 Page</a>
                        <span class="icon-thumbnail">pg</span>
                    </li>
                    <li class="">
                        <a href="500.html">500 Page</a>
                        <span class="icon-thumbnail">pg</span>
                    </li>
                    <li class="">
                        <a href="login.html">Login</a>
                        <span class="icon-thumbnail">l</span>
                    </li>
                    <li class="">
                        <a href="register.html">Register</a>
                        <span class="icon-thumbnail">re</span>
                    </li>
                    <li class="">
                        <a href="timeline.html">Timeline</a>
                        <span class="icon-thumbnail">t</span>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;"><span class="title">Menu Levels</span>
                    <span class="arrow"></span></a>
                <span class="icon-thumbnail"><i class="pg-menu_lv"></i></span>
                <ul class="sub-menu">
                    <li>
                        <a href="javascript:;">Level 1</a>
                        <span class="icon-thumbnail">L1</span>
                    </li>
                    <li>
                        <a href="javascript:;"><span class="title">Level 2</span>
                            <span class="arrow"></span></a>
                        <span class="icon-thumbnail">L2</span>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">Sub Menu</a>
                                <span class="icon-thumbnail">Sm</span>
                            </li>
                            <li>
                                <a href="javascript:;">Sub Menu</a>
                                <span class="icon-thumbnail">Sm</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->